CppLinuxSerial [2.4.0]	https://github.com/gbmhunter/CppLinuxSerial/tree/master/src
OpenCV [4.5.1]
Yaml-cpp [0.6.3] https://github.com/jbeder/yaml-cpp
libtorch [1.7.1 with c++11 ABI]

https://stackoverflow.com/questions/62755739/libtorch-on-raspberry-cant-load-pt-file-but-working-on-ubuntu
https://qengineering.eu/install-pytorch-on-raspberry-pi-4.html
